<div class="card">
  <div class="card-image">
    <figure class="image is4by3">
      <img
        src="http://image.tmdb.org/t/p/w500/{{poster_path}}"
        alt="selected movie poster"
      />
    </figure>
  </div>
  <header class="card-header">
    <p class="card-header-title"><a href="/by-name{{title}}">{{title}}</a></p>
  </header>
</div>