<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Another IMDB</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  <body>
    <nav
      class="navbar is-warning is-spaced"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="logo.png" height="28" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >

        <div class="topnav" id="myTopnav">
          <a href="/" class="active">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
                <a id="logout" href="/"> Log out </a>
              {{else}}
                <a  href="/login">
                  <strong>Sign up</strong>
                </a>
                <a  href="/login"> Log in </a>
              {{/if}}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>

          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>
          {{#if loggedIn}}
            <a class="navbar-item" href="/dashboard"> Dashboard </a>
          {{/if}}
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{#if loggedIn}}
                <a id="logout" class="button is-light" href="/"> Log out </a>
              {{else}}
                <a class="button is-primary" href="/login">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login"> Log in </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {{{body}}}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Not Another IMDB</strong>
          by
          <a href="https://jgthms.com">Corey Halseth, Jake Bauer, Kevin Jordan
            and Todd Stuke</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC
            SA 4.0</a>.
        </p>
      </div>
      <div class="content has-text-centered">
        <p>This product uses the TMDb API but is not endorsed or certified by
          TMDb.</p>
        <figure class="image is-64x64 is-inline-block"><img
            src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
            alt=""
          /></figure>

      </div>
    </footer>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
      <script src="/javascript/navbar.js"></script>"
  </body>
</html>