<html>
	<head>

	</head>
	<body>
		<form>
			<header class='card-header'>
				<p class='card-header-title'>{{title}}</p>
				
				</header>
			</header>
		</form>
	</body>
</html>

<script src='/public/javascript/newList.js'></script>