<div class="columns" style="flex-wrap:wrap">
{{#each movies}}
<div class="column" style="max-width: 20%; flex-basis:auto">
{{> movie this}}
</div>
{{/each}}
</div>

<script src="/javascript/delete.js"></script>