<<<<<<< HEAD
<h1 class="title is-1">Favorites</h1>

<div class="columns" style="flex-wrap:wrap">
=======
<div class="columns m-5" style="flex-wrap:wrap">

>>>>>>> routework2/TS
{{#each movies}}
<div class="column is-one-fifth">
{{> movie this}}
</div>
{{/each}}

</div>

<script src="/javascript/delete.js"></script>