<body>
  <div class="container m-5">
    <form class="field">
      <label class="label ml-3" for="movie">Enter Movie Name:</label>
      <input
        class="input m-3"
        id="search-bar"
        type="text"
        placeholder="Find a Movie"
        name="movie"
      />
      <button
        id="search-button"
        type="submit"
        class="button is-warning ml-3"
      >Submit</button>
    </form>
  </div>
  <div id="container" class="container m-5"></div>
  <script src="/javascript/home-search.js"></script>
</body>